<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241946134230-4fmdmckji8ges1elvmh33m68dvr97hd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241946134230-4fmdmckji8ges1elvmh33m68dvr97hd5</string>
	<key>API_KEY</key>
	<string>AIzaSyBpXmmhvq_rdAG-l6eIHN3H8MygYArWhwA</string>
	<key>GCM_SENDER_ID</key>
	<string>241946134230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.northwolf.ubermenshc</string>
	<key>PROJECT_ID</key>
	<string>ubermenshc-f7ead</string>
	<key>STORAGE_BUCKET</key>
	<string>ubermenshc-f7ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241946134230:ios:ba12580923d11d6810ab77</string>
</dict>
</plist>